* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #007BFF;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

.cadastro-buttons {
    display: flex;
    gap: 15px;
}

.button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #218838;
}

main {
    margin-top: 30px;
    width: 80%;
    max-width: 600px;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    color: #333;
}

.carousel-slide.active {
    opacity: 1;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

form input[type="text"],
form input[type="tel"],
form input[type="date"],
form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

img#fotoPreview {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}
/* Estilos para o botão customizado de upload de imagem */
label.button {
    display: inline-block;
    background-color: #929592;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

label.button:hover {
    background-color: #218838;
}
